@import "./../../styles/variables.scss";





//Products Venue

.productContainerVenue{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-top: 20px;
  left: 50px;
  width: 100%;
  height: 70px;
}


.productContVenue{

 display: block;
 padding: 5px;
 margin: 50px 40px;
}



